---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";

import MonumentImage from "../components/MonumentImage.astro";


---

<MainLayout class="flex justify-center items-center">
<MonumentImage />
	<!-- <p >{imageURL}</p> -->
</MainLayout>

