---
import MainLayout from "../layouts/MainLayout.astro";
import Introduction from "../components/Introduction.astro";
import JapaneseAmericanInternmentCamps from "../components/Japanese-American-Internment-Camps.astro";
---

<MainLayout>
  <div class="flex flex-col items-center justify-center font-montserrat">
    <Introduction />
    <JapaneseAmericanInternmentCamps />
  </div>
</MainLayout>
