---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";

import MonumentImage from "../components/MonumentImage.astro";

import MonumentImage2 from "../components/MonumentImage2.astro";
import MonumentImage3 from "../components/MonumentImage2.astro";
---

<MainLayout>
  <h1
    class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold my-4 sm:my-4 md:my-6 lg:my-8 text-museum-red"
  >
    Japanese-American Internment Camps
  </h1>
  <section class="bg-museum-beige w-full shadow-xl">
    <MonumentImage2 />
  </section>
</MainLayout>
