---

---

<header class="bg-gray-100 shadow-md relative z-10 w-full">
  <nav
    class="flex justify-between items-center px-5 mx-auto"
    style="max-width: 1440px;"
  >
    <a href="/">
      <h1 class="logo ml-20 text-gray-800 font-bold text-2xl">
        Masumi Hayashi
      </h1>
    </a>
    <ul class="nav-list md:flex mr-20">
      <li class="px-3 py-2"><a href="/">Home</a></li>
      <li class="px-3 py-2"><a href="/gallery">Gallery</a></li>
      <li class="relative px-3 py-2">
        <a href="/collections">Collections</a>
        <ul class="dropdown absolute hidden bg-white shadow-lg py-2">
          <li>
            <a href="/collections/american-camps" class="block px-5 py-2"
              >American Concentration Camps</a
            >
          </li>
          <li>
            <a href="/collections/japanese-canadian" class="block px-5 py-2"
              >Japanese Canadian Series</a
            >
          </li>
        </ul>
      </li>
      <li class="px-3 py-2"><a href="/about">About</a></li>
      <li class="px-3 py-2"><a href="/contact">Contact</a></li>
    </ul>
    <!-- <button class="menu-toggle md:hidden">☰</button> -->
  </nav>
</header>

<style>
  .nav-list li:hover .dropdown {
    display: block;
  }
</style>
