---
import { Image } from 'astro:assets'
import fleur from '../images/fleur1.svg'
---

<nav>
  <img src={fleur.src} alt="Fleur" height="100" width="100" />
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #ddd;
    background-color: #000248;
  }
  a {
    color: #fefef3;
    text-decoration: none;
  }
</style>
