---
import MainHead from "./MainHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";

const {
  title = "Masumi Hayashi",
  description = "Masumi Hayashi's panoramic photocollage artwork dealing with the Japanese American Internment Camps",
  classes = "",
} = Astro.props;
---

<html lang="en">
  <MainHead title={title} description={description} />
  <body class="bg-museum-beige text-museum-dark text-md font-sans">
    <!-- scroll container snap-y -->
    <div class=`h-screen overflow-y-scroll snap-always ${classes}`>
      <Header />
      <main transition:animate="fade">
        <slot> Default text for unnamed slot </slot>
      </main>

      <Footer />
    </div>
    <style>
      main {
        margin-bottom: 80px;
        padding-top: 10px;
      }
      footer {
        @apply fixed bottom-0 h-16; /* Adjust the h-16 value based on your footer's height */
      }
    </style>
  </body>
</html>
