---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body
    class="flex flex-col items-center justify-between min-h-screen bg-museum-beige"
  >
    <Header />
    <main class="flex justify-center items-center flex-1 flex-col">
      <slot />
    </main>
    <Footer class="w-full" />
  </body>
</html>

<style>
  main {
    margin-bottom: 80px;
    padding-top: 10px;
  }
  footer {
    @apply fixed bottom-0 w-full h-16; /* Adjust the h-16 value based on your footer's height */
  }
</style>
